setup.wizard.enabled=false

liferay.home={{liferay_home}}

jdbc.default.driverClassName=com.mysql.jdbc.Driver
jdbc.default.url={{liferay_default_database_url}}
jdbc.default.username={{liferay_db_user}}
jdbc.default.password={{liferay_db_password}}

auto.deploy.deploy.dir={{liferay_autodeploy_dir}}